
:root {
    
    /* Color */
    --eerie-black: #272848;
    --battleship-grey: #898C8Aff;
    --gainsboro: #DFE0E0ff;
    --gray2: #ebecf0;
    --cultured: #F4F5F7ff;
    --white: #FEFEFEff;
    --black: #010101ff;
    --black-2: #121c42;
    --royal-blue-light: #575beb;
    --active: #FFFFFF;
    --burnt-orange: #BE5317ff;
    --tart-orange: #ff695d;
    --shadow: #d8e1e8;
    --activeBgBlue: #e8f0fe;

    /* Font family */
    --font-black: "black";
    --font-bold: "bold";
    --font-extrabold: "extrabold";
    --font-light: "light";
    --font-extralight: "extralight";
    --font-medium: "medium";
    --font-regular: "regular";
    --font-semibold: "semibold";
    --font-thin: "thin";
}


